*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex{
  display: flex;
}
.background{
  flex-direction: column;
  height: 100vh;
}
.header{
  height: 7%;
}
.data_background{
  background-color: rgb(241, 243, 244);
  height: 93%;
  
}
.column{
  flex-direction: column;
  width: 400px;
  padding-block: 30px;
  padding-inline: 25px;
  gap: 10px;
}
.card{
  flex-direction: column;
  border-style: solid;
  border-width: 0.4px;
  border-color: rgb(190, 190, 190);
  border-radius: 7px;
  padding-block: 14px;
  padding-inline: 15px;
  align-items: start;
  background-color: white;
  gap: 9px;
  
}
.column-heading{
  flex-direction: row;
  justify-content: space-between;
}
.dropdown-content{
  flex-direction: column;
  z-index: 1;
  position: absolute;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 5px;
  border-color: gray;
  padding-inline: 20px;
  padding-block: 10px;
  background-color: rgb(242, 240, 240);
}
.dropdown-button{
  margin-inline: 50px;
  margin-block: 15px;
}
